body {
  background: black;
  color: white;
  font-family: monospace;
  text-align: center;
}

.summary {
  border: 2px #7AA665 solid;
  border-radius: 5px;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 13px;
}

#input {
  font-size: 36px;
  margin: 24px;
  text-align: center;
  font-family: monospace;
  background: black;
  border: 2px #7AA665 solid;
  border-radius: 5px;
  color: white;
}

#out {
    margin-left: 20%;
  margin-right: 20%;
  font-size: 36px;
  margin: 24px;
  padding: 23px;
  text-align: center;
  font-family: monospace;
  background: black;
  border: 2px #7AA665 solid;
  border-radius: 5px;
  color: white;
}