body {
  background: black;
  color: white;
  font-family: monospace;
  text-align: center;
}

.summary {
  border: 2px #7AA665 solid;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  font-size: 13px;
  width: 40%;
  margin-bottom: 20px;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


#box {

  font-size: 36px;

  padding: 10px;
  text-align: center;
  font-family: monospace;
  background: black;
  border: 2px #7AA665 solid;
  border-radius: 5px;
  color: white;
  width: 40%;
    margin: auto;


}

#input {
  font-size: 36px;
  width: 90%;
text-transform: uppercase;
  text-align: center;
  font-family: monospace;
  background: black;
  border: 2px #7AA665 solid;
  border-radius: 5px;
  color: white;
    margin: auto;

}